.mainImage {
    position: relative;
    text-align: center;
    color: white;
    font-size: 40px;
   
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 65%;
    font-size: 20px;
    color: rgb(155, 148, 148);
    transform: translate(-50%, -50%);
  }

  .content{
    font-size: 20px;
    font-family: serif;
    text-align: center;
    padding:1% 20% 2% 20%;
    color: rgba(71, 72, 73, 0.877);
  }
  .w-text-content{
    font-size: 45px;
    font-family: serif;
    font-weight:600;
    text-align: center;
    line-height: 40px;
    padding-left: 20%;
    
   
    
  }

  .sub{
    padding: 5%;
  }

  .service-desc{
    margin-top: -500px;
  }


  .serr .card{
   
    margin-left: 30%;
    font-size: 18px;
    width:800px;
    height:500px;
    z-index: -1;
    color: rgb(90, 86, 86);
    padding: 2% 20% 20% 20%;
   
  }


  .serr .card-header{
    background-color: rgb(210, 135, 194);
    margin-left: 0%;
    font-size: 30px;
   color: white;
  
  }

  .serr a{
    background-color: rgb(210, 135, 194);
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    width: 50%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    border-color: white;
  }
